### Задание 1  
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
films_rating = pd.read_csv('/Users/sergejvasiljev/Documents/DATASETS/ml-latest-small/ratings.csv')
films_title = pd.read_csv('/Users/sergejvasiljev/Documents/DATASETS/ml-latest-small/movies.csv')
power = pd.read_csv('/Users/sergejvasiljev/Documents/DATASETS/power.csv')

In [2]:
films_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
films_rating[ films_rating.rating == 5.0 ].movieId.value_counts()

318      153
296      123
356      116
2571     109
260      104
        ...
45672      1
2822       1
611        1
8807       1
83969      1
Name: movieId, Length: 2954, dtype: int64

In [4]:
films_title[films_title.movieId == 318]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2  
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
power[ power['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [12]:
sorted_data = power[
    (power.country.isin(['Lithuania', 'Latvia', 'Estonia']))
    & (power.category.isin([4, 12, 21])) 
    & ((2005 <= power.year)&(power.year<= 2010))
    & (power.quantity >= 0)
                    ]

In [13]:
sorted_data.quantity.sum()

240580.0

### Задание 3  
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [9]:
url_input = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
pd.read_html(url_input, attrs = {'class': 'quote_list'}, encoding='utf-8')

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1048851      -              1032711
 1          NaN            EUR/RUB       902255      -               896970
 2          NaN            USD/RUB       741505      -               737545
 3          NaN            JPY/RUB        06820      -                06791
 4          NaN            CNY/RUB       115582      -               114655
 5          NaN            CHF/RUB       824605      -               818335
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12168      -                12169
 8          NaN            EUR/GBP        08603      -                08697
 9          NaN            EUR/JPY      1322850      -              1321150
 10         NaN            EUR/CHF        10943      -                10960
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08218      -                08218
 13         NaN            USD/GBP        07070      -                07142
 14         NaN            USD/JPY      1087300      -              1086000
 15         NaN            USD/CHF        08993      -                09013
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07600      -                07600
 18         NaN            JPY/GBP        00065      -                00066
 19         NaN            JPY/USD        00092      -                00092
 20         NaN    JPY/CHF (100:1)        08300      -                08300
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        14144      -                14002
 23         NaN            GBP/JPY      1537768      -              1520617
 24         NaN            GBP/EUR        11626      -                11503
 25         NaN            GBP/CHF        12720      -                12619
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12720      -                12619
 28         NaN            EUR/CHF        10943      -                10960
 29         NaN    JPY/CHF (100:1)        08300      -                08300
 30         NaN            USD/CHF        08993      -                09013
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       337617      -               337679
 33         NaN            USD/UAH       277475      -               277491
 34         NaN            CHF/UAH       308511      -               307888
 35         NaN            GBP/UAH       392432      -               388543

           %  Абсолютное значение     Время
 0    1,56 %                16140  17:39:00
 1    0,59 %                05285  17:39:00
 2    0,54 %                03960  17:39:00
 3    0,43 %                00029  17:39:00
 4    0,81 %                00927  17:39:00
 5    0,77 %                06269  17:39:00
 6         %  Абсолютное значение     Время
 7   -0,01 %               -00002  17:39:00
 8   -1,08 %               -00094  17:39:00
 9    0,13 %                01700  17:39:00
 10  -0,15 %               -00017  17:39:00
 11        %  Абсолютное значение     Время
 12   0,00 %                00000  17:39:00
 13  -1,00 %               -00072  17:39:00
 14   0,12 %                01300  17:39:00
 15  -0,22 %               -00020  17:39:00
 16        %  Абсолютное значение     Время
 17  -0,12 %                00000  17:39:00
 18  -1,12 %               -00001  17:39:00
 19  -0,12 %                00000  17:39:00
 20  -0,29 %                00000  17:39:00
 21        %  Абсолютное значение     Время
 22   1,01 %                00142  17:39:00
 23   1,13 %                17151  17:39:00
 24   1,07 %                00123  17:39:00
 25   0,80 %                00101  17:39:00
 26        %  Абсолютное значение     Время
 27   0,80 %                00101  17:39:00
 28  -0,15 %               -00017  17:39:00
 29  -0,29 %                00000  17:39:00
 30  -0,22 %               -00020  17:39:00
 31        %  Абсолютное значение     Время
 32  -0,02 %               -00062  17:39:00
 33  -0,01 %               -00017  17:39:00
 34   0,20 %                00622  17:39:00
 35   1,00 %                03889  17:39:00  ]